
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: #fff;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.chromethemer.com/download/hd-wallpapers/marvel-7680x4320.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}


.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #f9c16c;
}

.form-group {
    position: relative;
}

.btn-login {
    width: 100%;
    margin-top: 20px;
}

#button_accedi{
    padding-left: 30%;
    padding-right: 30%;
}

.btn {
    padding: .45rem 1.5rem .35rem;
  }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #c471f5;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1))
  }


#navbar{
    background-color: #f9c16c;
    border-radius: 20px;
  }