
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: rgb(179, 0, 0);
    color: #fff;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}


.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
}

.form-group {
    position: relative;
}

.btn-login {
    width: 100%;
    margin-top: 20px;
}

#button_accedi{
    padding-left: 30%;
    padding-right: 30%;
}

.btn {
    padding: .45rem 1.5rem .35rem;
  }
  
/*--------NAVBAR-----*/

.navbar-custom {
    background-color: #161616; 
}


.navbar-nav .nav-link:not(.dropdown-toggle) {
    position: relative;
    font-size: 18px;
    padding-bottom: 5px;
}

.navbar-nav .nav-link:not(.dropdown-toggle)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-nav .nav-link:not(.dropdown-toggle):hover::after {
    width: 100%;
    left: 0;
}


.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userMenu img {
    width: 40px; 
    margin-right: 10px; 
}


#userMenu {
    display: flex;
    align-items: center;
    gap: 8px; 
}


.dropdown-menu {
    min-width: 200px; 
}

.navbar-brand {
    text-align: center;
    flex: 1;
}

/*/////////////////*/