
body {
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: rgb(179, 0, 0);
    color: #fff;
} 

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}


.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
}

.form-group {
    position: relative;
}

.btn-login {
    width: 100%;
    margin-top: 20px;
}

#button_accedi{
    padding-left: 30%;
    padding-right: 30%;
}

.btn {
    padding: .45rem 1.5rem .35rem;
}

.modal {
    color: black;
}
.modal-xl{
    max-width: 80%;
}
 
/*--------CARDS--------*/

.card {
    max-height: 400px; 
    overflow: auto; 
}
.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.square-img {
    object-fit: cover;
    width: 100%; 
    height: 270px;
}

.fumetto {
    font-size: 50px;
    color: #ff0000;
    text-transform: uppercase;
    text-shadow: 4px 4px 0px #000, 8px 8px 0px yellow;
    display: inline-block;
    padding: 20px;
    border: 5px solid black;
    background-color: white;
} 

/*/////////////////*/

/*-------Button post trade--------*/

#postTradeBtn {
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

#postTradeBtn:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    background-color: #ffcc00; 
}

#postTradeBtn:active {
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

